page-add-ip {
   .toolbar-background {
     background: $start-green;
     /* For browsers that do not support gradients */
     background: linear-gradient(to bottom right, $start-green, $start-blue);
     /* Standard syntax (must be last) */
   }

  .closebtn {
     width: 30px;
     font-size: 25px;
     font-weight: 600;
     color: #fff;
  }

  .addbtn{
    width: 90%;
    margin: 0 auto;
    border-radius: 3px;
  }
}
