page-edit-ip {
  .closebtn {
    width: 30px;
    font-size: 20px;
    font-weight: 600;
  }

  .addbtn {
    width: 90%;
    margin: 0 auto;
    border-radius: 3px;
  }

  .back-button{
    display: none !important;
  }

  .toolbar-background {
    background: $start-green;
    /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, $start-green, $start-blue);
    /* Standard syntax (must be last) */
  }


}
